@import url('https://fonts.googleapis.com/css2? família=Poppins:wght@100&display=swap');

*{
    margin: 5;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.content{
  
  margin: 0px auto;
  position: relative;
  width: 100%;  
 
}

.button{
    cursor: pointer;
    width: 100%;
    margin-top: 3rem;
    border: none;
    border-radius: 32px;
    background: #6c63ff;
    color:aliceblue;
    font-size: 2rem;
    transition: all .3s ease-in-out;

}
.button:hover{
    background:darkslateblue;
}

body{
    background: #1b2029;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 50vh;
    background-image: url('../../assets/paredao.jpg');
    background-size: cover;
}
div {
   width: 48vw;
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
}

div h1{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 3rem;
}
div h2{
    color:aliceblue;
    font-size: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}
div form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.span{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem; /* Fonte do Label*/
    margin-top: 1.1rem; /* Margem dos Label*/
}

.input_consulta{
    background: #161923;
    width: 620px;
    height: 35px;
    padding: 0 0.5rem;
    margin-top: 1rem; 
    outline: none;
    color: aliceblue;
    border: 1px solid #020b18;
    border-radius: 8px;
}

  
table{
    font-size: 15px;
    color: #FFF;
    border: 5px solid #F26522;
    box-shadow: 0px 0px 3px #000;
    background: #EF4D02;
    border-collapse: collapse;
}

td:first-of-type{
    cursor: pointer;
}

td,th{
    padding: 5px 10px;
    font-weight: normal;
    width: 1000px;
    text-align: justify;
    border-right: 3px solid #F26522;
}

tr:nth-of-type(odd) td{
    background: #ED6125;
}
span{
    margin-top: 5%;
}

.title_home{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
}

#home{
    margin-top: 10%;
    cursor: pointer;
    background: none;
    color:#8880fe;
    font-size: 1.2em;
    border-radius: 0.2em;
    padding: 0.2em;
    width: 100px;
}

#home:hover{
    background-color: none;
    
}


.img1{
    transform: scaleX(-1);
    
}

.footer{
    position: fixed;
    top: 80%;
}